[Desktop Entry]
Type=Application
Name=Self Control
GenericName=Self Control
Comment=Temporarily block access to web sites
Icon=selfcontrol
Exec=SelfControl
Terminal=false
Categories=Network;
