---
layout: default
title: SelfControl
---

    <h2><a href="http://github.com/zengargoyle/selfcontrol">selfcontrol</a>
      <span class="small">by <a href="http://github.com/zengargoyle">zengargoyle</a></span></h2>

    <div class="description">
      A  port of the SelfControl (Mac OS X) application for Ubuntu, Debian, Linux.
    </div>

    <p>
This application allows one to make a list of internet sites by
hostname or IP address, and then to block access to those sites
for a specifig amount of time.  For example: block access to
metafilter.com and slashdot.org for 45 minutes.
</p>

<h2>Latest Posts</h2>

{% assign first_post = site.posts.first %}
<div id="first_post">
  <h2>{{ first_post.title }}</h2>
  <div>
    {{ first_post.content }}
  </div>
</div>

<ul>
  {% for post in site.posts limit: 3 %}
    <li>{{ post.date }} <a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h2>Dependencies</h2>
<p>Perl modules: Gtk2, YAML
Common: iptables, at, ed</p>
<h3>License</h3>
<p>This program is free software; you can redistribute it and/or modify it
under the terms of either: the GNU General Public License as published
by the Free Software Foundation; or the Artistic License.

See http://dev.perl.org/licenses/ for more information.
</p>
<h3>Authors</h3>
<p>zengargoyle (zengargoyle@gmail.com)<br/><br/>      </p>
<h3>Contact</h3>
<p> (zengargoyle@gmail.com)<br/>      </p>


    <h3>Download</h3>
    <p>
      You can download the latest release of this project as a debian package from the
      <a href="http://http://github.com/zengargoyle/selfcontrol/downloads">downloads</a> page. (Recommended)
      <p>Install by running:
      <pre>$ sudo dpkg --install selfcontrol_VERSION_all.deb</pre>
    <p>
      You can also download this project in either
      <a href="http://github.com/zengargoyle/selfcontrol/zipball/master">zip</a> or
      <a href="http://github.com/zengargoyle/selfcontrol/tarball/master">tar</a> formats.
{% include download.html %}
    </p>
    <p>You can also clone the project with <a href="http://git-scm.com">Git</a>
      by running:
      <pre>$ git clone git://github.com/zengargoyle/selfcontrol</pre>
    </p>

    <div class="footer">
      get the source code on GitHub : <a href="http://github.com/zengargoyle/selfcontrol">zengargoyle/selfcontrol</a>
    </div>
